li {
    list-style-type: none;
}

ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

/* .remove-all-margin-padding{
margin:0 ! important;
padding:0 ! important;
} */

#day-box{
    flex: 25%
}

.container{
margin: 0 ! important;
padding: 0 ! important;
}

.location-image{
    position: absolute;
    top: 3%;
    right: 1%;
    border: 2px solid black
}