li {
    list-style-type: none;
}

ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

.truncated-backcast{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: auto;
}

.day-box{
    border: 1px outset black;
    border-radius: 5px;
    margin: 10px;
}

.backcast-box{
    display: flex;
    flex-wrap: wrap;
}

/* .container{
margin: 0 ! important;
padding: 0 ! important;
} */

.location-image{
    position: absolute;
    top: 3%;
    right: 1%;
    border: 2px solid black
}