{% extends 'base.html' %}

{% block content %}

{% if location.name %}

<h3>{{ location.name }}</h3>

{% endif %}

<h3>{{ location.latitude|round(5), location.longitude|round(5) }}</h3>



{% if location.is_snowy %}
Alpine area
{% endif %}

{% if location.is_desert %}
Desert area
{% endif %}
{% if app_backcast.location_id != 0 %}
<div class="row">
    <form method="GET" action="/backcast/{{ app_backcast.id }}/edit">
    <button class="btn btn-outline-primary btn-sm">Edit User Report</button>
  </form>
  <form method="GET" action="/locations/{{location.id}}/backcasts">
    <button class="btn btn-outline-primary btn-sm">Return to location backcasts</button>
  </form>
  {% endif %}

  <button class="btn btn-outline-primary btn-sm" id='show'>Show hourly report</button>
  <button class="btn btn-outline-primary btn-sm" id='hide'>Hide hourly report</button>

</div>

<div class="row">

<div class="truncated-backcast container col-6 remove-all-margin-padding">
<table style="text-align: center;">
    <tr><th>Timestamp</th><td>{% if app_backcast.timestamp %}{{ app_backcast.timestamp }}{% else %} Right Now {% endif %}</td></tr>
    <tr><th>Hrs sun</th><td>{{ app_backcast.sun_count }}</td></tr>
    <tr><th>Hrs cloudy</th><td>{{ app_backcast.cloud_count }}</td></tr>
    <tr><th>Hrs precip</th><td>{{ app_backcast.precip_count }}</td></tr>
    <tr><th>Total precip (in)</th><td>{{ app_backcast.total_precip }}</td></tr>
    <tr><th>Avg precip (in/hr)</th><td>{{ app_backcast.avg_precip }}</td></tr>
    <tr><th>Avg temp F</th><td>{{ app_backcast.avg_temp }}</td></tr>
    <tr><th>High temp F</th><td>{{ app_backcast.high_temp }}</td></tr>
    <tr><th>Avg Wind MPH</th><td>{{ app_backcast.avg_wind }}</td></tr>
    <tr><th>High Wind MPH</th><td>{{ app_backcast.high_wind }}</td></tr>
    <tr><th>Assessment</th><td>{{ app_backcast.assessment }}</td></tr>
    <tr><th>User Report</th><td>{{ app_backcast.user_report }}</td></tr>
</table>
<hr>
<br><br>
</div>
</div>
</div>

<div id="hour_by_hour_box" class="backcast-box container remove-all-margin-padding">

  {% for day in backcast %}

        {% if day['hours'][1] %}
  <div class="day-box" >

  <p>{{ day.date }}</p>
  
  <table class="col-12 col-md-6" style="max-width: 20%;">
      <tr style="text-align: center;">
        <th>Hour</th>
        <th>Condition</th>
        <th>Temp</th>
        <th>Precip (in)</th>
      </tr>
      {% for hour in day['hours'] %}
      <tr style="text-align: center;">
        <td>{{hour.time}}</td>
        <td>{{hour.condition}}</td>
        <td>{{hour.temp}}</td>
        <td>{{hour.precip}}</td>
      </tr>
      {% endfor %}
      
    </table>
  

  </div>
      {% endif %}
  
  
  {% endfor %}
</div>


<link rel="stylesheet" href="{{ url_for('static', filename='backcast.css') }}">
<script src="{{ url_for('static', filename='backcast.js') }}"></script>
{% endblock %}
