{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}
<div class="container col-10">
  <table>
    <tr>
      <th>Timestamp</th>
      <th>Hrs sun</th>
      <th>Hrs cloudy</th>
      <th>Hrs precip</th>
      <th>Total precip (in)</th>
      <th>Avg precip (in/hr)</th>
      <th>Avg temp F</th>
      <th>High temp F</th>
      <th>Avg windspeed</th>
      <th>High windspeed</th>
      <th>Assessment</th>
      <th>User report</th>
    </tr> 
    <tr>
      <td>{{ backcast.timestamp }}</td>
      <td>{{ backcast.sun_count }}</td>
      <td>{{ backcast.cloud_count }}</td>
      <td>{{ backcast.precip_count }}</td>
      <td>{{ backcast.total_precip }}</td>
      <td>{{ backcast.avg_precip }}</td>
      <td>{{ backcast.avg_temp }}</td>
      <td>{{ backcast.high_temp }}</td>
      <td>{{ backcast.avg_wind }}</td>
      <td>{{ backcast.high_wind }}</td>
      <td>{{ backcast.assessment }}</td>
      <td>{{ backcast.user_report }}</td>
    </tr>
  </table>
</div>

  <div class="container">
    <form method="POST" id="location_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        <li>
            <br>

            {{field.label}}
            {{ field(class="form-control") }}
            
        </li>

      {% endfor %}
        <br>
      <button class="btn btn-primary btn-lg btn-block col-2">Save Backcast</button>
    </form>
  </div>

{% endblock %}