{% extends 'base.html' %}

{% block content %}

{% if location %}
 <h1>{{ location.name }}</h1>

 {% else %}

<h1>{{ location.latitude|round(5), location.longitude|round(5) }}</h1>

{% endif %}
{% if location.is_snowy %}
Alpine area
{% endif %}

{% if location.is_desert %}
Desert area
{% endif %}

<div class="row">

<div class="truncated-backcast container col-5 remove-all-margin-padding">
<table style="text-align: center;">
    <tr><th>Timestamp</th><td>{% if app_backcast.timestamp %}{{ app_backcast.timestamp }}{% else %} Right Now {% endif %}</td></tr>
    <tr><th>Hrs sun</th><td>{{ app_backcast.sun_count }}</td></tr>
    <tr><th>Hrs cloudy</th><td>{{ app_backcast.cloud_count }}</td></tr>
    <tr><th>Hrs precip</th><td>{{ app_backcast.precip_count }}</td></tr>
    <tr><th>Total precip (in)</th><td>{{ app_backcast.total_precip }}</td></tr>
    <tr><th>Avg precip (in/hr)</th><td>{{ app_backcast.avg_precip }}</td></tr>
    <tr><th>Avg temp F</th><td>{{ app_backcast.avg_temp }}</td></tr>
    <tr><th>High temp F</th><td>{{ app_backcast.high_temp }}</td></tr>
    <tr><th>Avg Wind MPH</th><td>{{ app_backcast.avg_wind }}</td></tr>
    <tr><th>High Wind MPH</th><td>{{ app_backcast.high_wind }}</td></tr>
    <tr><th>Assessment</th><td>{{ app_backcast.assessment }}</td></tr>
    <tr><th>User Report</th><td>{{ app_backcast.user_report }}</td></tr>
</table>
<hr>
<div class="col-2 container buttons-container">

  {% if app_backcast.location_id != 0 %}
<form method="GET" action="/backcast/{{ app_backcast.id }}/edit">
  <button class="btn btn-outline-primary btn-sm">Edit User Report</button>
</form>
<br>

<form method="GET" action="/locations/{{location.id}}/backcasts">
  <button class="btn btn-outline-primary btn-sm">Return to location backcasts</button>
</form>
<br>

{% endif %}

</div>
</div>
</div>
{% endblock %}