{% extends 'base.html' %}

{% block content %}

IF <h1>{{ special_location.name }}</h1>

ELSE

<h1>{{ location.latitude, location.longitude }}</h1>

{% for day in backcast %}

{% if day['hours'][1] %}
<p>{{ day.date }}</p>

<table>
    <tr>
      <th>Hour</th>
      <th>Condition</th>
      <th>Temp</th>
      <th>Precipitation (in)</th>
    </tr>
    {% for hour in day['hours'] %}
    <tr>
      <td>{{hour.time}}</td>
      <td>{{hour.condition}}</td>
      <td>{{hour.temp}}</td>
      <td>{{hour.precip}}</td>
    </tr>
    {% endfor %}
    
  </table>

  {% endif %}


{% endfor %}
<form method="GET" action="/special_locations">
    <button class="btn btn-outline-primary btn-sm">Return to special locations</button>
</form>

{% endblock %}

