{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

  <div class="container">
    <form method="POST" id="special_location_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        <li>
            <br>

            {{field.label}}
            {{ field(class="form-control") }}
            
        </li>

      {% endfor %}

      <button class="btn btn-primary btn-lg btn-block">Add Location</button>
    </form>
  </div>

{% endblock %}