<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CLIMBING SITE</h1>
    {% block content %}
    <a href="/special_locations/">Special Locations</a>
    {% endblock %}
</body>
</html>

<script src="http://127.0.0.1:8887/jquery-3.6.0.js"></script>
<script src="http://127.0.0.1:8887/axios.min.js"></script>
<!-- <script src="{{ url_for('static', filename='boggle.js') }}"></script> -->