{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<a href="/global_locations">Global Locations</a>
{% if g.user %}
<a href="/user_locations">User Locations</a>
{% endif %}
<br>
<!DOCTYPE html>
<html>
  <head>
    <title>Event Click LatLng</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='google_map.css') }}" />
    <script src="{{ url_for('static', filename='google_map.js') }}"></script>
  </head>
  <body>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtzzyq1x2biXhsXPNxkpljz18zrwrB0jQ&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>

<form method="POST" action="/backcast/new_backcast/0">
    <label>Latitude:</label><br>
    <input type="text" name="latbox" id="latbox"><br>
    <label>Longitude</label><br>
    <input type="text" name="lngbox" id="lngbox"><br><br>
    <label>Is this an alpine location?</label>
    <input type="radio" name="env" value="alpbox"><br>
    <label>Sandstone location?</label>
    <input type="radio" name="env" value="desbox"><br>
    <label>Neither?</label>
    <input type="radio" name="env" value="neither"><br><br>
    <button class="btn btn-outline-primary btn-sm">Build custom backcast</button>
  </form>

{% endblock %}