{% extends 'base.html' %}

{% block content %}

<h1>{{ location.name }}</h1>

<table class="no-border">
    <tr>
      <th style="text-align:center">Timestamp</th>
      <th style="text-align:center">Total precipitation</th>
      <th style="text-align:center">Climbing assessment</th>
    </tr>

    {% for backcast in backcasts %}

    <tr>
      <td style="text-align:center">{{backcast.timestamp}}</td>
      <td style="text-align:center">{{backcast.total_precip}}</td>
      <td style="text-align:center">{{backcast.assessment}}</td>
      <td class='no-border'>
        <form method="GET" action="/backcast/{{backcast.id}}/edit">
          <button class="btn btn-outline-primary btn-sm">View/add trip report to this backcast</button>
        </form>
        </td>
    </tr>

    


    {% endfor %}
</table>
<br>
<div style="margin-left: 20px;" class="container">
  <div class="row">
    <form method="GET" action="/popular_locations/{{location.id}}">
    <button class="btn btn-outline-primary btn-sm">Return to location</button>
    </form>
    &nbsp;&nbsp;
    <form method="GET" action="/backcast/new_backcast/{{location.id}}">
      <button class="btn btn-outline-primary btn-sm">Create a Backcast</button>
    </form>
    &nbsp;&nbsp;
    {% if g.user %}
    <form method="GET" action="/user_locations">
      <button class="btn btn-outline-primary btn-sm">Return to user locations</button>
    </form>
    &nbsp;&nbsp;
    {% endif %}
    <form method="GET" action="/popular_locations">
      <button class="btn btn-outline-primary btn-sm">Return to popular locations</button>
    </form>
  </div>

</div>


{% endblock %}

