{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}
   <div class="mx-auto container row" style="height:670px; width:100%;">


    <br>
    <div id="container" class="container col-2">
      <ul>
          Name:<li>{{ location.name }}</li><br>
          Directions:<li>{{ location.location}}</li><br>
          Latitude:<li>{{ location.latitude }}</li><br>
          Longitude:<li>{{ location.longitude}}</li><br>
          Image: <li>{{ location.image }}</li><br>
          Description:<li>{{ location.description}}</li><br>
          Is an alpine area?<li>{{ location.is_snowy }}</li><br>
          Is a sandstone area?<li>{{ location.is_desert}}</li><br>
      </ul>
    </div>

    <br>
    <div class="container col-8">
      <head>
        <title>Event Click LatLng</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='google_map.css') }}" />
        <script src="{{ url_for('static', filename='google_map.js') }}"></script>
      </head>
      <body>
        <div id="map" style="width:100%; height:100%;"></div>
    
        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtzzyq1x2biXhsXPNxkpljz18zrwrB0jQ&callback=initMap&libraries=&v=weekly"
          async
        ></script>
      </body>
    </div>
    
    <div class="container col-2">
    
      <form method="POST" action="/locations/{{location.id}}/edit" style="position: absolute; bottom: 0;">
        {{ form.hidden_tag() }}
    
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          <li>
              
    
              {{field.label}} {{ field(class="form-control") }}
              
          </li>
    
        {% endfor %}
    
        <button class="btn btn-primary btn-lg btn-block">Update Custom Location</button>
      </form>

{% endblock %}