{% extends 'base.html' %}

{% block content %}

<h1>{{ location.name }}</h1>

<table>
    <tr>
      <th>Backcast ID</th>
      <th>Timestamp</th>
      <th>Total precipitation</th>
      <th>Climbing assessment</th>
    </tr>

    {% for backcast in backcasts %}

    <tr>
      <td>{{backcast.id}}</td>
      <td>{{backcast.timestamp}}</td>
      <td>{{backcast.total_precip}}</td>
      <td>{{backcast.assessment}}</td>
      <td>
        <form method="GET" action="/backcast/{{backcast.id}}">
            <button class="btn btn-outline-primary btn-sm">View/add trip report to this backcast</button>
        </form>
        </td>
    </tr>


    {% endfor %}
</table>

<form method="GET" action="/popular_locations/{{location.id}}">
    <button class="btn btn-outline-primary btn-sm">Return to location</button>
</form>
<br>
<form method="GET" action="/backcast/new_backcast/{{location.id}}">
  <button class="btn btn-outline-primary btn-sm">Create a Backcast</button>
</form>
<br>
<form method="GET" action="/locations/{{location.id}}/backcasts">
  <button class="btn btn-outline-primary btn-sm">View this area's backcasts</button>
</form>
<br>
{% if g.user %}
<form method="GET" action="/user_locations">
  <button class="btn btn-outline-primary btn-sm">Return to user locations</button>
</form>
<br>
{% endif %}
<form method="GET" action="/popular_locations">
  <button class="btn btn-outline-primary btn-sm">Return to popular locations</button>
</form>

{% endblock %}

