{% extends 'base.html' %}

{% block content %}
<div class="container">

  <ul>{% for location in locations %}
      <li style="text-align:center"><a href="/popular_locations/{{location.id}}">{{ location.name }}</a></li>
  {% endfor %}</ul>
  <br>

  {% if g.user.authority == "admin" %}
  <form style="text-align:center" method="GET" action="/popular_locations/add">
      <button class="btn btn-outline-primary btn-sm">Add New popular Location</button>
  </form>
  <br>
  {% endif %}

</div>



{% endblock %}

