{% extends 'base.html' %}

{% block content %}

<h1>{{ special_location.name }}</h1>
{{special_location.location}}
<br>
<div class="container">{{special_location.description}}</div>

<br> <br>
Coordinates: {{ special_location.latitude, special_location.longitude }}

<form method="GET" action="/special_locations/{{special_location.id}}/backcast">
    <button class="btn btn-outline-primary btn-sm">Create a Backcast</button>
</form>
<br>
<form method="GET" action="/special_locations/{{special_location.id}}/backcasts">
    <button class="btn btn-outline-primary btn-sm">View this area's backcasts</button>
</form>
<br>
<form method="GET" action="/special_locations">
    <button class="btn btn-outline-primary btn-sm">Return to locations</button>
</form>

{% endblock %}